azure-search-documents
azure-identity
azure-maps-search
azure-ai-ml
promptflow
promptflow-tools
promptflow-devkit
promptflow-azure
langchain
langchainhub 
langchain-community
langsmith 
langchain-openai
wikipedia
shapely
DateTimeRange
python-dotenv
